body {
    background: white;
    color: white;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
  }

.login {
    margin: 50px auto;
    width: 320px;
  }

.login form > p > a {
    color: black;
    background: white;
}

.login form > h1 {
    text-align: center;
}

.login form {
margin: auto;
padding: 22px 22px 22px 22px;
width: 100%;
border-radius: 5px;
background: #282e33;
border-top: 3px solid #434a52;
border-bottom: 3px solid #434a52;
}

.login form input[type="email"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
  }

  .login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
  }

  .login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
  }

.login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 90%;
    height: 50px;
  }